{% extends 'base_priv.html' %}
{% load static crispy_forms_filters %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login-box">
        <h1>Alexandria</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form.username.errors }}
            {{ form.username }}
            {{ form.password.errors }}
            {{ form.password }}
            
            <button type="submit" class="btn-login">Entrar</button>
            <a href="{% url 'password_reset' %}" class="btn-cadastrar">Esqueceu a senha?</a>
            <a href="{% url 'cadastro' %}" class="btn-cadastrar">Não tem conta? Cadastre-se</a>
        </form>
        
    </div>
</div>

{% endblock %}
