{% extends 'base_usuarios.html' %}
{% load crispy_forms_tags %}
{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="container-senha">
  <div class="redefinir_senha">
    <h2 class="text-center mb-3">Redefinição de Senha Completa</h2>
    <p class="text-center mb-3">Sua senha foi redefinida com sucesso. Você pode prosseguir e se autenticar agora.</p>
    <div class="text-center mt-3">
      <a href="{% url 'login' %}" class="text-decoration-none">Voltar para Login</a>
    </div>
  </div>
</div>
{% endblock %}