{% extends 'base_usuarios.html' %}
{% load crispy_forms_tags %}
{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="container-senha">
  <div class="redefinir_senha">
    <h2 class="text-center mb-3">Solicitação de Redefinição de Senha</h2>
    <p class="text-center mb-3">Um e-mail foi enviado com instruções para redefinir sua senha.</p>
    <div class="text-center mt-3">
      <a href="{% url 'login' %}" class="text-decoration-none">Voltar para Login</a>
    </div>
  </div>
</div>
{% endblock %}