{% extends 'base_priv.html' %}
{% load crispy_forms_tags %}
{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="container-senha">
  <div class="redefinir_senha">
    <form method="post">
      <h2 class="text-center mb-3">Redefinir Senha</h2>
      {% csrf_token %}
      <input type="email" name="email" placeholder="Email" class="form-control" required>

      <button type="submit" class="btn btn-senha">Enviar</button>
      <a href="{% url 'login' %}" class="btn-cadastrar">Voltar para login</a>
    </form>
  </div>
</div>
{% endblock %}