{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Avaliações Recebidas{% endblock %}

{% block content %}
<h1 style="margin-bottom: 50px; padding: 0px 0px;">
    <a class="icon-brand">
        Avaliações Recebidas
    </a>
</h1>

<div class="section-container">
  <div class="avalia-receb">
  {% for material in materiais %}
    {% if material.comentarios.exists or material.curtidas.exists %}
      <div class="avalia-receb-item">
        <h2><strong>Título: {{ material.titulo }}</strong></h2>
        {% if material.comentarios.exists %}
          <h4>Comentários:</h4>
          {% for comentario in material.comentarios.all %}
              <div class="alert alert-secondary">
                <h5>{{ comentario.autor }}: {{ comentario.texto }}</h5>
              </div>
          {% endfor %}
        {% endif %}

        {% if material.curtidas.exists %}
          <h4>Curtidas:</h4>
          <ul>
              {% for usuario in material.curtidas.all %}
              <div><h5>❤️ {{ usuario.username }}</h5></div>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endif %}
  {% empty %}
    <p>Você ainda não recebeu avaliações.</p>
  {% endfor %}
  </div>
</div>

{% endblock %}
