{% extends 'base.html' %}
{% load static %}
{% block title %}Materiais Compartilhados{% endblock %}

{% block content %}

<h1 style="margin-bottom: 50px;">
    <a class="icon-brand">
        Materiais Compartilhados
    </a>
</h1>
<hr style="margin-top: 2rem; padding-top: 1rem; border-top: 1px solid rgba(255, 255, 255, 0.6);">
<div class="mat-grid">
    {% for material in materiais %}
    <div class="mat-compart">
        <strong>{{ material.titulo }}</strong><br>
        <strong>Descrição:</strong> {{ material.descricao }}<br>
        <a style="color: rgb(52, 187, 10); font-weight: bold; text-decoration: none;" 
        href="{{ material.arquivo.url }}">Baixar</a> |
        Compartilhado em: {{ material.data_compartilhado }}
    </div>
    {% empty %}
        <li>Nenhum material compartilhado ainda.</li>
    {% endfor %}
</div>

{% endblock %}