{% extends 'base.html' %}
{% load static %}
{% block title %}Materiais Avaliados{% endblock %}

{% block content %}
<h1 style="margin-bottom: 50px;">
    <a class="icon-brand">
        Materiais com Avaliações Permitidas
    </a>
</h1>
<hr style="margin-top: 2rem; padding-top: 1rem; border-top: 1px solid rgba(255, 255, 255, 0.6);">

<div class="mat-grid">
    {% for material in materiais %}
    <div class="mat-compart">
        <strong>Título: {{ material.titulo }}</strong><br> 
        Descrição: {{ material.descricao }}<br>
        <span style="color: rgb(255, 255, 255);"> ✅ Avaliações permitidas</span>
    </div>
    {% empty %}
        <p>Nenhum material com avaliações habilitadas.</p>
    {% endfor %}
</div>

{% endblock %}
