{% extends 'base_priv.html' %}
{% load static crispy_forms_filters %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="cadastro-container">
    <div class="cadastro-box">
        <h1>Alexandria</h1>

        {% if messages %}
          <div class="mensagem">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.password1 }}
            {{ form.password2 }}

            <button type="submit" class="btn-login">Cadastrar</button>
            <a href="{% url 'login' %}" class="btn-cadastrar">Já tem conta? Faça login</a>
        </form>
    </div>
</div>
{% endblock %}
