{% extends 'base_usuarios.html' %}
{% load static crispy_forms_tags %}

{% block content %}
<body>
    <div class="cadastro-container">
        <div class="cadastro-box">
            <a href="{% url 'login' %}" class="btn-voltar">&larr;</a>
            <h1>Alexandria</h1>
            <form method="post">
                <div class='form-group'>
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <button type="submit" class="btn-cadastrar_cad">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}