{% extends 'base_usuarios.html' %}
{% load static crispy_forms_filters %}
{% block title %}Perfil{% endblock %}

{% block content %}
{% if messages %}
  <div class="mensagem">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
    {% endfor %}
  </div>
{% endif %}
<body>
    <div class="perfil-container">
        <div class="perfil-box">
            <h1>Perfil</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-salvar">Salvar Perfil</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}