{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Adicionar Material</title>
</head>
<main class="container-mat">
    <div class="add-material">
        <h2>Adicionar Material</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Adicionar</button>
        </form>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <label>
                <input type="checkbox" name="avaliacoes_habilitadas"> Permitir avaliações
            </label>
            <label>
                <input type="checkbox" name="colaboracao_habilitada"> Permitir colaboração
            </label>

            <button type="submit">Criar Material</button>
        </form>
    </div>
</main>
{% endblock %}