{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
</head>
<nav class="navbar">
    <ul>
        <li><a href="{% url 'index' %}">Início</a></li>
        <li><a href="{% url 'meus_materiais' %}">Meus Materiais</a></li>
        <li><a href="{% url 'perfil' %}">Área do Usuário</a></li>
        <li><a href="#">Configurações</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li>
            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="dropdown-item" style="background:none; border:none; padding:0; cursor:pointer; color:white">Sair da Conta</button>
            </form>
        </li>
    </ul>
</nav>
<body>
    {% block content %}{% endblock %}
    {% block header %}{% endblock %}
</body>
</html>