{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<head>
    <title>Resultados da Busca</title>
</head>
<body>   
    {% for material in materiais %}
        <div class="material-item">
            <p>ID do material: {{ material.id }}</p>
            <p>Título: {{ material.titulo }}</p>
            <button>
                <a href="{{ material.arquivo.url }}" target="_blank" class="btn abrir">Abrir</a>
            </button>
            <a href="{% url 'visualizar_material' material.id %}" class="btn visualizar">Visualizar</a>
        </div>
    {% empty %}
        <p>Nenhum material encontrado.</p>
    {% endfor %}
</body>
{% endblock %}