{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Configurações{% endblock %}

{% block content %}
<body class="config">
    <main class="content-config">
        <h1 style="margin-bottom: 30px;">
            <a class="icon-brand">
                Configurações
            </a>
        </h1>

        <h2 style="font-family: 'Georgia'">Configurações da Conta:</h2>
        <div class="botoes-config">
            <!-- Botões visíveis -->
            <button id="btnMateriais">Materiais Compartilhados</button>  
            <button id="btnHistorico">Histórico de Pesquisa</button>  
            <button id="btnComentarios">Avaliações Recebidos</button>  

            <!-- Script separado -->
            <script>
                document.getElementById("btnMateriais").onclick = function() {
                    window.location.href = "{% url 'mat_compart' %}";
                }

                document.getElementById("btnHistorico").onclick = function() {
                    window.location.href = "{% url 'histor_pesq' %}";
                }

                document.getElementById("btnComentarios").onclick = function() {
                    window.location.href = "{% url 'avaliacao_receb' %}";
                }
            </script>
        </div>

        <h2 style="font-family: 'Georgia'; margin-top: 10px;">Preferências de Notificação:</h2>
        <div class="botoes-config">

            <button id="btnPermissoesComent">Permissões de Comentários</button>  
            <button id="btnConviteColab">Convites de Colaboração</button> 

            <script>
                document.getElementById("btnPermissoesComent").onclick = function() {
                    window.location.href = "{% url 'permis_coment' %}";
                }
                document.getElementById("btnConviteColab").onclick = function() {
                    window.location.href = "{% url 'convit_colabora' %}";
                }
            </script>
        </div>
    </main>
</body>
{% endblock %}