{% extends 'base.html' %}
{% load static %}

<!-- MATERIAIS CRIADOS -->
{% block content %}
  <head>
    <title>Meus Materiais</title>
  </head>
  <main class="container-mat">
    <div class="material-list">
      <h2>Meus Materiais</h2>
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for material in materiais %}
            <tr>
              <td>{{ material.titulo }}</td>
              <td>{{ material.autor }}</td>
              <td>{{ material.descricao }}</td>
              <td>{{ material.get_tipo_display }}</td>
              <td>
                <a href="{% url 'editar_material' material.id %}">Editar</a> |
                <a href="{% url 'deletar_material' material.id %}">Deletar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>


<!-- MATERIAIS SALVOS -->
<main class="container-mat">
    <div class="add-material">
        <h2>Adicionar Material</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar</button>
        </form>
    </div>
    <div class="content-mat">
        <div class="videos">
            <h2>Vídeos</h2>
            {% for video in videos %}
            <div class="material-item">
                <img src="{% static 'img/video_placeholder.png' %}" alt="{{ video.titulo }}">
                <p>{{ video.titulo }}</p>
                <button><a href="{{ video.arquivo.url }}">Abrir</a></button>
            </div>
            {% endfor %}
        </div>
        <div class="slides">
            <h2>Slides</h2>
            {% for slide in slides %}
            <div class="material-item">
                <img src="{% static 'img/slide_placeholder.jpg' %}" alt="{{ slide.titulo }}">
                <p>{{ slide.titulo }}</p>
                <button><a href="{{ slide.arquivo.url }}">Abrir</a></button>
            </div>
            {% endfor %}
        </div>
        <div class="documentos">
            <h2>Documentos</h2>
            {% for documento in documentos %}
            <div class="material-item">
                <img src="{% static 'media/doc_placeholder.jpg' %}" alt="{{ documento.titulo }}">
                <p>{{ documento.titulo }}</p>
                <button><a href="{{ documento.arquivo.url }}">Abrir</a></button>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}