{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block content %}
<body>
    <main class="sobre">
        <h1>
            <span class="icon">&#x1F3DB;</span>
            Biblioteca Virtual Alexandria
        </h1>
        <div class="s_texto">
            <p>
                <strong>Bem-vindo à Biblioteca Virtual Alexandria!</strong>
            <p>
                Inspirada na lendária Biblioteca de Alexandria, o Sistema de Biblioteca Virtual é um software que tem como 
                objetivo centralizar e organizar os trabalhos acadêmicos em um repositório digital acessível online, 
                facilitando a consulta de qualquer lugar e a qualquer momento. 
                Nesta plataforma, objetiva-se democratizar e facilitar o acesso ao conhecimento através da vasta coleção de 
                documentos, relatórios, artigos e vídeos acadêmicos e recursos educacionais criados pelos alunos do campus 
                que sejam relevantes para seus estudos e interesses pessoais.
                Com uma interface amigável e recursos avançados de busca, os usuários podem facilmente encontrar e acessar os 
                materiais.
            <p>
                Junte-se a nós nessa jornada pelo conhecimento e compartilhe seus materiais na Biblioteca Virtual Alexandria!
            </p>
            <p>
                <strong>Equipe de Desenvolvimento:</strong> Luana Lima e João Victor, estudantes da turma de 2022 no curso Informática 
                para Internet/Instituto Federal de São Paulo do Potengi (IFRN-SPP).
            </p>
            
        </div>
    </main>
</body>
{% endblock %}