{% extends "base.html" %}
{% load static %}

{% block content  %}
<style>
    .image-container {
        text-align: center;
        margin-top: 50px;
    }
    .image-container img {
        max-width: 100%;
        auto;
        border: 2px solid #ccc;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="visualizar-card">
    <div class="card-content">
        <h3>{{ material.titulo }}</h3>
        <p class="autor"><strong>Autor:</strong> {{ material.autor }}</p>
        <p class="descricao">{{ material.descricao }}</p>
        <div class="meta-info">
          <span class="tipo">{{ material.get_tipo_display }}</span>
        </div>
        <div class="image-container">
            <h1>Imagem Adicionada</h1>
            {% for object in objects %}
                <img src="{{ object.image.url }}" alt="Descrição da Imagem">
            {% endfor %}
            
        </div>
        <button href="{% url 'meus_materiais' %}" type="submit">Voltar</button>
      </div>
{% endblock %}